/* ---------- BOOKING PAGE STYLING ------------------------*/

.booking-form {
    background-color: hsla(200, 100%, 80%);
    border-radius: 10px;
    padding: 4em 2em 2em 7em;
    width: 80em;
    margin-left: 19em;
    margin-bottom: 5em;
}

.booking-form h1 {
    color: hsl(200, 50%, 30%);
    margin-bottom: 2em;
    margin-left: 0;
}

input[type=text], span, select {
    resize: vertical;
}

label {
    display: inline-block;
    margin-right: 2em;
    padding-top: 0.2em;
    margin-bottom: 1em;
}

.booking-form .row {
    margin-bottom: 3em;
    font-size: 16px;
    font-family: Verdana;
}

.col-25 {
    float: left;
}
  
.col-75 {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.booking-form .advice-container {
    margin: 1em 0em 1em 0em;
    padding: 1em 3em 1em 0em;
    text-align: left;
    height: auto;
    color: hsl(200, 40%, 20%);
    font-weight: bold;
}

.booking-form input {
    border: 1px solid hsl(200, 50%, 50%);
    width: 12em;
    border-radius: 0.3em;
    padding: 0.5em;
}

#reason {
    border: 1px solid hsl(200, 50%, 50%);
    width: 17em;
    height: 2.5em;
    border-radius: 0.3em;
    padding: 0.5em;
    cursor: pointer;
} 

#date {
    cursor: pointer;
}

.booking-form .submit {
    border: none;
    border-radius: 0.5em;
    padding: 0.6em 0.6em 0.6em 0.6em;
    color: white;
    background-color: hsl(200, 70%, 0%);
    font-size: 17px;
    margin-top: 0em;
    margin-bottom: 2em;
    cursor: pointer;
}

.pill-container {
    display: grid;
    grid-template-columns: repeat(3, 10em);
    gap: 0em;
    margin-top: 0;
}

.pill-label {
    margin-top: 0.5em;
}

.pill-container input {
    margin: 1em 1em 1em 1em;
}

.pill {
    background-color: hsl(50, 100%, 70%);
    border: 1px solid black;
    overflow: hidden;
    float: left;
}

#pill-1 {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-right: 0em;
}

#pill-3 {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border-left: 0em;
}

.pill label {
    float: left; 
    line-height: 1em;
    width: 9.0em; 
    height: 3.0em;
    padding: 0;
    margin-bottom: 0;
}

.pill label span {
    text-align: left;
    color: black;
    display: block;
    padding: 1em 1em 1em 2em;
    width: 10em;
    cursor: pointer;
}

.pill label input {
    position: absolute;
    display: none;
    color: #fff;
}

.pill input:checked + span {
    color: white;
}

.pill input:checked + span {
    background-color: hsl(200, 60%, 40%);
}

@media screen and (max-width: 1100px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }

    .advice-container {
        width: min-content;
    }
}

#form-error {
    font-weight: bold;
    color: red;
    margin-left: 1em;
}

#home-link {
    margin-bottom: 4em;
    margin-top: 1em;
    list-style: none;
}

#home-link a {
    font-size: 18px;
    font-weight: bold;
    color: rgb(13, 97, 13);
    text-decoration: underline;
}